---
import Link from "@elements/Link.astro";

const {
  title,
  url,
  links = [],
  blog = false
} = Astro.props;
---
<div class="k-section m-0">
  { links.length > 0 ? links.map(( link: { url: string; title: string; active : boolean ;} , index : number )  => {
    const {
      url,
      title
    } = link;
    return (
      <Link
        nav
        {blog}
        {url}
        class = { index === 1 ? '' : 'hidden md:inline'  }
      >
        {title}
      </Link>
    )
  }) :
    <Link
      nav
      {url}
    >
      {title}
    </Link>
  }
</div>
