---
import BaseLayout from '@layouts/base.astro';

import BlogPost from '@elements/BlogPost.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  // const allPosts = await Astro.glob('../posts/*.md'); //old
  const allPosts = await getCollection('posts');

  const uniqueTags: any = [...new Set(allPosts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag: string) => {
  const filteredPosts = allPosts.filter((post: any) => (post.data.tags.includes(tag) as boolean));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
});
}

const { tag } : { tag : string }= Astro.params;
const { posts } : { posts : any[] }= Astro.props;

---
<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {posts.map((post) =>
      // <BlogPost url={post.url} title={post.frontmatter.title}/> old
      <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
    )}
  </ul>

</BaseLayout>
