---
import { getCollection } from 'astro:content';
import BaseLayout from '@layouts/base.astro';

import BlogPost from '@elements/BlogPost.astro';

// const allPosts = await Astro.glob('../pages/posts/*.md'); // old
const allPosts = await getCollection('posts');
const pageTitle = "Blog";
// for second part of proyect : https://docs.astro.build/en/tutorials/add-content-collections/
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
	<ul>
		{ allPosts.map( post =>
			// <BlogPost url={post.url} title={post.frontmatter.title} />
			<BlogPost url={`/posts/${post.slug}`} title={post.data.title} />
		)}
	</ul>
</BaseLayout>
