---
import BaseLayout from '@layouts/base.astro';

import Map from '@components/Map.astro';

import seoImage from '@images/colab.jpg';
import iconoCentros from '@icons/verde/centros_esp.svg?raw'
import vesiculaBlanco from '@icons/vesicula_blanco.svg?raw';
import iconoDolor from '@icons/white_pain.svg?raw'
import iconoBiopsias from '@icons/biopsia_cian.svg?raw'

import MediaPanel from '@components/MediaPanel.astro';
import DoctorCabinet from '@components/DoctorCabinet';

import { getCollection } from 'astro:content';
import Tiles from '@components/Tiles.astro';

const allDoctors = await getCollection("medicos", ({data}) => {
  return data.centros.includes("centros-biopsia") || data.centros.includes("centro-hepatobiliar") || data.centros.includes("centro-dolor");
});

const seo = {
  title: 'Centros de especialidad',
  description: 'Centros de especialidad: hepatobiliar y manejo del dolor, atención avanzada en clínica de intervencionismo y corta estancia.',
  image: seoImage,
}
---
<BaseLayout {seo}>
  <MediaPanel
    main
    icon={iconoCentros}
    classTitle="mb-4 lg:mb-12"
  >
    <span slot="title">Centros de <strong>Especialidad</strong></span>
    <span slot="subtitle">Los centros de especialidad de Clínica Enlace cuentan con <strong>equipos multidisciplinarios</strong> de médicos expertos en condiciones específicas, brindando atención médica integral y especializada para cada paciente. Nuestros centros están diseñados para ofrecerte un tratamiento personalizado y eficaz, adaptado a tus necesidades individuales. Nos comprometemos a proporcionarte la mejor atención posible, garantizando tu comodidad y bienestar en todo momento. Con nuestros Centros de especialidad, puedes estar seguro de recibir la atención médica de la más alta calidad, enfocada en tu salud y recuperación. Nuestro objetivo es ofrecerte una experiencia de atención médica excepcional, donde te sientas cuidado y respaldado en todo momento.</span>
  </MediaPanel>
  <Tiles
    items = {[
      {
        title: '<span>Centro de <strong>Vesícula</strong></br> y <strong>Sistema Biliar</strong></span>',
        subtitle : 'Conoce la opción de diagnóstico y tratamiento adecuada para ti',
        icon: vesiculaBlanco,
        iconSize : '25%',
        url: '/centro-de-vesicula-y-sistema-biliar',
        style : 'yellow'
      },
      {
        title: '<span>Centro de <strong>Biopsias</strong></span>',
        subtitle : 'Visita para ver opciones de diagnóstico por biopsia',
        icon: iconoBiopsias,
        url: '/biopsias',
        style : 'tint'
      },
      {
        title: '<span>Centro Avanzado de </br><strong>Manejo del Dolor</strong></span>',
        subtitle : 'Alivio del dolor crónico con procedimientos de mínima invasión',
        icon: iconoDolor,
        url: '/centro-avanzado-de-manejo-del-dolor',
        style : 'red'
      },
    ]}
  />
  <MediaPanel
    medium
    title="Conoce al equipo de especialistas"
    classTitle="font-bold"
    subtitle="Nuestro equipo de médicos especialistas altamente capacitados está comprometido con la excelencia médica. Cada especialista aporta su experiencia única para brindarle atención personalizada y de vanguardia. Confíe en nuestros expertos para cuidar su salud y bienestar con dedicación y conocimiento en diagnóstico, tratamiento y cuidado preventivo."
  />
  <DoctorCabinet
    client:load
    dropdown={false}
    doctors={allDoctors}
  />
  <Map/>
</BaseLayout>
