---
import BaseLayout from '@layouts/base.astro';

import Map from '@components/Map.astro';

import seoImage from '@images/colab.jpg';
import iconoCentros from '@icons/verde/centros_esp.svg?raw'
import liverYellow from '@icons/liver_yellow.svg?raw';
import iconoDolor from '@icons/icono_dolor.svg?raw'

import MediaPanel from '@components/MediaPanel.astro';
import SliderDoctors from '@components/SliderDoctors.astro';
import Linebreak from '@elements/Linebreak.astro';

const seo = {
  title: 'Centros de especialidad',
  description: 'Centros de especialidad: hepatobiliar y manejo del dolor, atención avanzada en clínica de intervencionismo y corta estancia.',
  image: seoImage,
}
---
<BaseLayout {seo}>
  <MediaPanel
    main
    icon={iconoCentros}
    classTitle="mb-4 lg:mb-12"
    subtitle="En la Clínica Enlace, estamos comprometidos con la excelencia médica y la innovación constante. Nuestros Centros de Especialidad son el epicentro de descubrimientos médicos y avances tecnológicos de vanguardia. Colaboramos con renombrados expertos y equipos multidisciplinarios para llevar a cabo investigaciones pioneras en una amplia gama de áreas médicas."
  >
    <span slot="title">Centros de <strong>Especialidad</strong></span>
  </MediaPanel>
  <MediaPanel
    icon = {liverYellow}
    bigIcon = {true}
    cta = {{
      text: 'Conoce más',
      url: '/centro-hepatobiliar',
    }}
  >
    <Fragment slot="title">
      Centro del <strong>Hígado</strong>
      y <strong>Sistema Biliar</strong>
    </Fragment>
    <Fragment slot="subtitle">
      El Centro Hepatobiliar es un centro especializado que cuenta con los recursos y la experiencia necesarios para abordar las enfermedades del <strong>hígado</strong> y <strong>sistema biliar</strong> de manera integral. Consulta los servicios que el Centro Hepatobiliar de Clínica Enlace tiene para atenderte
    </Fragment>
  </MediaPanel>
  <Linebreak color="blue"/>
  <MediaPanel
    main
    icon={iconoDolor}
    classTitle="mb-4 lg:mb-12"
    subtitle="En el Centro Avanzado de Manejo del Dolor, nos dedicamos a mejorar la calidad de vida de nuestros pacientes a través de un enfoque integral y personalizado para el tratamiento del dolor. Utilizamos las tecnologías más avanzadas para ofrecer soluciones efectivas y duraderas. Nuestro compromiso es proporcionar alivio y apoyo a quienes sufren de dolor crónico o agudo, permitiéndoles recuperar su bienestar y disfrutar de una vida plena."
  >
    <span slot="title">Centro Avanzado de <strong>Manejo del Dolor</strong></span>
  </MediaPanel>
  <Linebreak color="blue"/>
  <SliderDoctors
    title="Conoce al equipo de especialistas"
    subtitle="Nuestro equipo de médicos especialistas altamente capacitados está comprometido con la excelencia médica. Cada especialista aporta su experiencia única para brindarle atención personalizada y de vanguardia. Confíe en nuestros expertos para cuidar su salud y bienestar con dedicación y conocimiento en diagnóstico, tratamiento y cuidado preventivo."
  />
  <Map/>
</BaseLayout>
