---
import Link from '@elements/Link.astro'
import { Image } from 'astro:assets'
import classy from '@utils/classy'
import Linebreak from './Linebreak.astro';

const {
  slug = '',
  data : {
    title = '',
    photo = '',
    especialidad = ''
  },
  class : className = '',
  // loading = 'lazy'
} = Astro.props
const cardClasses = classy([
  "k-doctor-card",
  "flex flex-col ",
  className
])


---
<div {...cardClasses}>
  <div class="k-doctor-card-image">
    <Image
      src={photo}
      format='webp'
      alt=`Foto de ${title}`
    />
  </div>
  <div class="flex flex-col h-full justify-between">
    <div class="flex place-content-between flex-row mt-2">
      <div>
        <div class="typo-header-xs antialiased font-semibold text-neutral-600">
          {title}
        </div>
        <div class="typo-body-m text-neutral-600 antialiased mt-2">
          Especialidad: { especialidad }
        </div>
      </div>
      <Link
        class=""
        color="metal"
        url=`/medicos/${slug}`
        class="w-max h-fit self-center k-link"
      >
        VER MÁS
      </Link>
    </div>
    <Linebreak isElement={true} color="blue" class="mt-4" />
  </div>
</div>
<style>
  .k-doctor-card {

    .k-doctor-card-image {
      img {
        aspect-ratio: 6/4;
      }
    }
    .k-link {
      min-width: 85px;
    }
  }
</style>
