---
import classy from '@utils/classy'

import footerTriangle from "@icons/footerTriangle.svg?raw"

import Icon from "@elements/Icon.astro"

const {
  url,
  color = '',
  big = false,
  mini = false,
  rounded = false,
  icon = false,
  header = false,
  nav = false,
  footer = false,
  wrapClasses = '',
  class : className = '',
  } = Astro.props

const isButton = !(footer || header || nav || mini)

let linkClasses : { [key: string]: string } = classy([
  `k-link antialiased`,
  footer && `typo-body-m text-neutral-200 flex items-center`,
  header && `typo-header-xxs`,
  header && Astro.url.pathname === url ? `font-black k-active` : "font-semibold lg:font-normal",
  header && !color && `text-neutral-500`,
  nav && `text-blue typo-button-s`,
  mini && `typo-button-s flex items-center`,
  ( mini || header ) && color && `text-${color}`,
  mini && !color && `text-white`,
  rounded ? 'rounded-full' : 'rounded-sm',
  isButton && color === 'invert' && 'text-blue bg-white border-solid border border-blue',
  isButton && color === 'metal' && 'bg-metal text-white',
  isButton && color === 'red' && 'bg-red text-white',
  isButton && color === 'white' && 'bg-white text-metal',
  isButton && color === 'yellow' && 'bg-yellow text-white',
  isButton && color === 'blue' && 'bg-blue text-white',
  isButton && color !== 'invert' && 'shadow',
  isButton && 'font-semibold typo-button-s',
  !big && isButton &&  'typo-button-s',
  big ? 'typo-button-l py-3 px-4' : 'py-2 px-3',
  className
])

const linkContentClasses = classy([
  'k-link-content-wrapper',
  !isButton && url !== '#' && 'k-decoration-under',
  color === 'cyan' && 'k-decoration-under',
  footer && 'ml-3.5',
  wrapClasses
])

let decoratorBgColor = nav ? '#59CCD9':
  mini ? '#F8FAFC' :
  header ? '#3C5368' :
  footer ? '#CBD7E1' :
  color === 'cyan' && '#E6F7F9'

if ( color === 'cyan'){
  linkClasses = classy([
    'typo-body-m text-cyan-soft k-decoration-under antialiased',
    className
  ])
}

if ( Astro.url.pathname === url ){
  linkClasses['aria-current']="page"
}

---
{ url === '#'
  ?
  <div {...linkClasses} >
    { nav && <span>{'<'}</span>}
    { footer && !Boolean(icon) && <Icon icon={footerTriangle}/>}
    { !footer && Boolean(icon) && <Icon icon={icon}/>}
    <span {...linkContentClasses}>
      <slot/>
    </span>
    { mini && <span class="ml-2">{'>'}</span>}
  </div>
  :
  <a href ={ url } {...linkClasses} >
  { nav && <span>{'<'}</span>}
  { footer && !Boolean(icon) && <Icon icon={footerTriangle}/>}
  { !footer && Boolean(icon) && <Icon icon={icon}/>}
    <span {...linkContentClasses}>
      <slot/>
    </span>
    { mini && <span class="ml-2">{'>'}</span>}
  </a>
}
<style define:vars={{decoratorBgColor}}>
  .k-link-content-wrapper.k-decoration-under {
    position: relative;
    &:before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background: var(--decoratorBgColor);
      transition: width 200ms ease;
    }
  }

  :not(.k-active){
      & .k-decoration-under:hover{
      &:before {
        width: 100%;
      }
    }
  }

  & .shadow {
    box-shadow: 4px 4px 4px 2px #2D3E4E33;
  }
</style>
