---
import classy from "@utils/classy"

import Link from '@elements/Link.astro'
import Icon from '@elements/Icon.astro'

import extraImg from '@images/mainPhotoBig.jpg'
console.log(`🚀 ~ extraImg:`, extraImg)
import desktopImg from '@images/mainPhotoDesktop.png'
import mobileImg from '@images/movilMain.jpg'
import phone from '@icons/phone_white.svg?raw'
import liver from '@icons/liver_white.svg?raw'
import search from '@icons/search_white.svg?raw'
import location from '@icons/location_metal.svg?raw'

const bigContentClasses = classy([
  'k-hero-content',
  'px-8 lg:pl-36 md:top-1/2 md:-translate-y-1/2 xl:-translate-y-2/3 2xl:-translate-y-1/2', // Padding classes for all components!
  'absolute bottom-0 left-0 right-0 md:right-[20%] 2xl:right-[45%]', // Positioning classes for big hero only
])
---
<div class="k-hero relative" role="main">
  <picture class="k-hero-image">
    <source media="(max-width: 768px)" srcset={mobileImg.src} />
    <source media="(min-width: 1024px) and (max-width: 1279px)" srcset={desktopImg.src} />
    <source media="(min-width: 1280px)" srcset={extraImg.src} />
    <img src={desktopImg.src} alt='' />
  </picture>
  <div {...bigContentClasses}>
    <h1 class="header-xxl text-cyan" >
      Tranquilidad, dignidad</br>
      y respeto a la <strong>vida</strong>.
    </h1>
    <div class="grid grid-cols-12 gap-x-4 gap-y-8 mt-4 md:mt-8">
      <a href="/buscar" class="col-span-4 md:col-span-3 border-cyan border flex justify-start text-cyan items-center k-decoration-under">
        <Icon icon={search} class="content-center max-h-6 max-w-6 mx-2 md:mx-4"/>
        <span class="content-center antialiased typo-body-m md:typo-body-xl k-decor mr-2">Buscar</span>
      </a>
      <a target="_blank" href="https://maps.app.goo.gl/k9R8dyKDTce6Jj8f6" class="col-span-4 md:col-span-3 border-metal border flex justify-start text-metal items-center bg-white k-decoration-under">
        <Icon icon={location} class="content-center max-h-6 max-w-6 mr-1 ml-0.5 md:mx-2"/>
        <span class="content-center antialiased typo-body-m md:typo-body-xl k-decor mr-0.5">Dirección</span>
      </a href="https://maps.app.goo.gl/k9R8dyKDTce6Jj8f6">
      <div class="col-span-4 md:col-span-6">
        <Link
          big
          url="tel:+528127210979"
          color="red"
          class="md:w-fit justify-center flex"
          wrapClasses="grid gap-x-2 grid-cols-1 md:grid-cols-8 items-center"
        >
        <Icon icon={phone} class="col-span-1 md:col-span-2 flex"/>
        <span class="col-span-6 typo-body-l hidden md:block">Asistencia inmediata</span>
        </Link>
      </div>
      <!-- TODO: Update link -->
      <Link
        big
        url="/"
        color="yellow"
        rounded
        class="justify-center flex col-span-12 md:col-span-6"
        wrapClasses="w-full flex items-center justify-around"
      >
        <Icon icon={liver} class="col-span-1 flex mr-4 lg:mr-2"/>
        <span class="col-auto typo-body-l">Centro de Hígado y Sistema Biliar</span>
      </Link>
      <div class="col-span-12 md:col-span-4 justify-self-center md:justify-self-start self-center lg:col-span-6">
				<Link
					url="https://www.facebook.com/ClinicaEnlace/reviews"
					mini
          wrapClasses="text-center md:text-left"
				>
					Testimonios de otros pacientes
        </Link>
      </div>
    </div>
  </div>
</div>
<style>
  .k-hero-image {
    img {
      min-width: 100%;
    }
  }

  .k-decoration-under.text-cyan {
    .k-decor:before {
        background: #C9EEF2;
    }
  }

  .k-decoration-under.text-metal {
    .k-decor:before {
        background: #7191AD;;
    }
  }

  .k-decoration-under {
    .k-decor {
        position: relative;
      &:before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        transition: width 200ms ease;
      }
    }
  }

  .k-decoration-under:hover {
    .k-decor:before {
      width: 100%;
    }
  }
</style>
