---
import classy from "@utils/classy"

import Link from '@elements/Link.astro'
import Icon from '@elements/Icon.astro'

import desktopImg from '@images/mainPhotoBig.jpg'
import mobileImg from '@images/mobileMain.jpg'
import phone from '@icons/phone_white.svg?raw'

const bigContentClasses = classy([
  'k-hero-content',
  'px-8 pb-9 lg:pl-36 pt-16 lg:pt-10', // Padding classes for all components!
  'absolute bottom-0 left-0 right-0 md:right-1/4', // Positioning classes for all components!

])
---
<div class="k-hero relative">
  <picture class="k-hero-image">
    <source media="(max-width: 768px)" srcset={mobileImg.src} />
    <source media="(min-width: 769px)" srcset={desktopImg.src} />
    <img src={desktopImg.src} alt='' />
  </picture>
  <div {...bigContentClasses}>
    <h1 class="lg:typo-header-xxxl text-cyan typo-header-m">
      Tranquilidad, dignidad, respeto a la <strong>vida</strong>.
    </h1>
    <div class="grid grid-cols-12 gap-x-4 gap-y-8 md:mt-8">
      <div class="col-span-4 md:col-span-3">1</div>
      <div class="col-span-4 md:col-span-3">1</div>
      <div class="col-span-4 md:col-span-6">
        <Link
          url="/"
          color="red"
          class="md:w-fit justify-center flex"
          wrapClasses="grid gap-x-2 grid-cols-1 md:grid-cols-8 items-center"
        >
        <Icon icon={phone} class="col-span-1 md:col-span-2 flex"/>
        <span class="col-span-6 typo-body-l hidden md:block">Asistencia inmediata</span>
        </Link>
      </div>
      <div class="col-span-12 md:col-span-6">
        <Link
          url="/"
          color="yellow"
          rounded
          class="justify-center flex w-auto"
          wrapClasses="grid gap-x-2 grid-cols-8 items-center"
        >
          <Icon icon={phone} class="col-span-1 flex"/>
          <span class="col-span-7 typo-body-l">Centro de Hígado y Sistema Biliar</span>
        </Link>
      </div>
      <div class="col-span-12 md:col-span-4 justify-self-center md:justify-self-start self-center">
				<Link
					url="https://www.google.com"
					mini
          wrapClasses="text-center md:text-left"
				>
					Testimonios de otros pacientes
        </Link>
      </div>
    </div>
  </div>
</div>
<style>
  .k-hero-image {
    img {
      min-width: 100%;
    }
    }
  /* background-image: url('assets/images/mainPhotoBig.jpg'); */
</style>
