---
import classy from "@utils/classy"

import Link from '@elements/Link.astro'
import Icon from '@elements/Icon.astro'

import extraImg from '@images/mainPhotoBig.jpg'
import desktopImg from '@images/mainPhotoDesktop.png'
import mobileImg from '@images/movilMain.jpg'
import phone from '@icons/phone_white.svg?raw'
import liver from '@icons/liver_white.svg?raw'
import whatsapp from '@icons/wa_whitegreen.svg?raw'
import whiteLocation from '@icons/whiteLocationsmall.svg?raw'

const bigContentClasses = classy([
  'k-hero-content',
  'px-8 lg:pl-36 md:top-1/2 md:-translate-y-1/2 xl:-translate-y-2/3 2xl:-translate-y-1/2', // Padding classes for all components!
  'absolute bottom-0 left-0 right-0 md:right-[20%] 2xl:right-[45%]', // Positioning classes for big hero only
])
---
<div class="k-hero relative z-20" role="main">
  <picture class="k-hero-image">
    <source media="(max-width: 768px)" srcset={`/.netlify/images?url=${mobileImg.src}&fm=webp`} />
    <source media="(min-width: 1024px) and (max-width: 1279px)" srcset={`/.netlify/images?url=${desktopImg.src}&fm=webp`} />
    <source media="(min-width: 1280px)" srcset={`/.netlify/images?url=${extraImg.src}&fm=webp`} />
    <img {...mobileImg} src={`/.netlify/images?url=${mobileImg.src}&fm=webp`} alt='' />
  </picture>
  <div {...bigContentClasses}>
    <h1 class="header-xxl text-cyan k-text-shadow" >
      Tranquilidad, dignidad</br>
      y respeto a la <strong>vida</strong>.
    </h1>
    <div class="grid grid-cols-12 gap-x-4 gap-y-8 mt-4 md:mt-8">
      <a
        aria-label="Contactanos por WhatsApp al 81 27 21 00 79"
        href="https://wa.me/+528127210979?text=Hola%2C+estoy+en+el+sitio+web+y+quisiera+pedir+informes"
        target="_blank"
        rel='nofollow'
        class="col-span-4 md:col-span-3 flex justify-start text-white bg-green items-center k-decoration-under"
      >
        <Icon icon={whatsapp} class="content-center max-h-6 max-w-6 mx-auto md:mx-2 lg:mx-4"/>
        <span class="content-center antialiased hidden md:block typo-body-m md:typo-body-xl k-decor mr-2">Agendar</span>
      </a>
      <a
        aria-label="Dirección de la clínica en Google Maps"
        rel='nofollow'
        target="_blank"
        href="https://maps.app.goo.gl/k9R8dyKDTce6Jj8f6"
        class="col-span-4 md:col-span-3 border-cyan border flex justify-start text-cyan items-center k-decoration-under address-btn"
      >
        <Icon icon={whiteLocation} class="content-center max-h-6 max-w-6 h-full mx-2"/>
        <span class="content-center antialiased typo-body-m md:typo-body-xl k-decor mr-0.5">Dirección</span>
      </a>
      <div class="col-span-4 md:col-span-6">
        <Link
          alt="Llámanos al 81 27 21 09 79"
          big
          url="tel:+528127210979"
          color="red"
          class="md:w-fit justify-center flex"
          wrapClasses="grid gap-x-2 grid-cols-1 md:grid-cols-8 items-center"
        >
        <Icon icon={phone} class="col-span-1 md:col-span-2 flex"/>
        <span class="col-span-6 typo-body-l hidden md:block">Asistencia inmediata</span>
        </Link>
      </div>
      <Link
        big
        url="/centro-hepatobiliar"
        color="yellow"
        rounded
        class="justify-center flex col-span-12 md:col-span-6"
        wrapClasses="w-full flex items-center justify-around"
      >
        <Icon icon={liver} class="col-span-1 flex mr-4 lg:mr-2"/>
        <span class="col-auto typo-body-l">Centro del Hígado y Sistema Biliar</span>
      </Link>
      <div class="col-span-12 md:col-span-4 justify-self-center md:justify-self-start self-center lg:col-span-6">
				<Link
					url="https://www.facebook.com/ClinicaEnlace/reviews"
					mini
          wrapClasses="text-center md:text-left"
				>
					Testimonios de otros pacientes
        </Link>
      </div>
    </div>
  </div>
</div>
<style>
  .k-hero-image {
    img {
      min-width: 100%;
    }
  }

  .k-text-shadow{
    @media screen and width > 640px {
      text-shadow: -1px 1px 1px #00000080;
    }
  }

  .k-decoration-under.text-cyan {
    .k-decor:before {
        background: #C9EEF2;
    }
  }

  .k-decoration-under.text-metal {
    .k-decor:before {
        background: #7191AD;;
    }
  }

  .k-decoration-under {
    .k-decor {
        position: relative;
      &:before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        transition: width 200ms ease;
      }
    }
  }

  .k-decoration-under:hover {
    .k-decor:before {
      width: 100%;
    }
  }

  .address-btn {
    background-color: rgba( 0, 0, 0, 0.3);
  }
</style>
