---
import classy from "@utils/classy"

import Icon from "@elements/Icon.astro"
import Link from "@elements/Link.astro"

const {
  style = '',
  title = 'title',
  subtitle = 'subtitle',
  items = [],
  cta = {
    text: 'cta',
    url: '',
  },
} = Astro.props

const cabinetClasses = classy([
  'px-8 py-12 lg:px-36 lg:py-16 2xl:px-48', //Switched to margin on all but this component
  style === 'blue' && 'bg-gray',
])

const titleClasses = classy([
  'header-l text-center mb-8 xl:mb-12',
  'font-bold',
  style === 'blue' ? 'text-cyan' : 'text-gray',
])

const subtitleClasses = classy([
  'k-subtitle mb-4 lg:mb-8',
  style === 'blue' ? 'text-cyan' : 'text-neutral-700',
])

const itemTextClasses = classy([
  'text-center typo-body-m font-semibold antialiased',
  'mt-4',
  style === 'blue' ? 'text-white' : 'text-gray',
])

const ctaProps = {
  color : style === 'blue' ? 'white' : 'blue',
  url : cta.url,
  class: 'col-span-2 md:col-span-5 w-fit place-self-center',
}

const showCaseClasses = classy([
  "place-content-center",
  "gap-x-16 gap-y-6 md:gap-x-20 xl:gap-x-40 2xl:gap-x-16 mt-4",,
  style === 'blue' ? "grid grid-cols-2 md:grid-cols-5"
  : 'flex flex-wrap',
])

---
<div {...cabinetClasses}>
  <h2 {...titleClasses}>{title}</h2>
  <p {...subtitleClasses}>{subtitle}</p>
  <div {...showCaseClasses}>
    {items.map((item: any, index : number) => {
      let isFinal = false

      if ( items.length % 2 !==0 && index === items.length - 1) {
        isFinal = true
      }

      return (
        <div class={`flex-col flex-none basis-[33%] md:basis-[15%] xl:basis-[10%] items-center${isFinal ? ' hidden md:flex' : ' flex'}`}>
          <Icon icon={item.icon} class="max-w-32 max-h-32 w-full"/>
          { item.url ?
            <Link url={item.url} color={style === 'blue' ? '' : 'gray'} mini class="text-center mt-4 font-semibold">
              {item.title}
            </Link>
            :
            <div {...itemTextClasses}>{item.title}</div>
          }
        </div>
      )
    })}
    { cta.url && <Link {...ctaProps}>{cta.text}</Link>}
  </div>
</div>
