---
import { Image } from 'astro:assets'
import Linebreak from '@elements/Linebreak.astro';
import classy from '@utils/classy'
const {
  title = '',
  image = '',
  especialidad = '',
  description = '',
  class : className = '',
  loading = 'eager'
} = Astro.props
const cardClasses = classy([
  "k-doctor k-section",
  "grid grid-cols-8 gap-x-11",
  className
])
---
<div {...cardClasses}>
  <div class="col-span-8 md:col-span-3">
    <Image
      src={image}
      format='webp'
      alt=`Foto de ${title}`
    />
  </div>
  <div class="col-span-8 md:col-span-5">
    <div>
      <div class="header-s font-semibold text-neutral-600 mt-2 md:mt-4 xl:mt-6">{title}</div>
      <div class="typo-body-m md:typo-body-l xl:typo-body-xxl text-neutral-600 antialiased">Especialidad: { especialidad }</div>
      <Linebreak isElement={true} color="blue" class="my-4 xl:my-6" />
      <div>
        {description}
      </div>
    </div>
  </div>
</div>
