---
import BaseLayout from '@layouts/base.astro';
import seoDefault from "@images/mainPhotoDesktop.png"

import { Image } from 'astro:assets'
import BlogSidebar from '@components/blogSidebar.astro';

import classy from '@utils/classy';
import { loadImage } from '@utils/ImageDynamic';

const { seo, breadcrumbs = false, author = {}, images = {}} = Astro.props ;

const {
	title : authorName = 'Missing Name',
	blog: authorDescription = 'Missing Description',
	especialidad = 'Missing Especialidad',
	photo : authorPhoto = ''
} = author

const {
	title = 'Missing Title Blog',
	description = 'Missing Description Blog',
	image : {
		src,
		width,
		height,
		format
	} = seoDefault
} = seo

const subtitleClasses = classy([
	"font-bold",
	"typo-body-m",
	"antialiased",
	"text-neutral-600",
	"py-4"
])

const mobileImg = await loadImage(images.mobile)
const desktopImg = await loadImage(images.desktop)
const authorImg = await loadImage(authorPhoto)

// TODO : I think categories will be created as a data type too
let categories = [
	{ title: 'Intervencionismo', link: '/blog/intervencionismo' }
]
---
<BaseLayout
	wha={false}
	{seo}
	{breadcrumbs}
>
	<picture class="k-blog-image">
		<source {...mobileImg} media="(max-width: 767px)" srcset={`/.netlify/images?url=${mobileImg.src}&fm=webp`} />
		<source {...desktopImg} media="(min-width: 768px)" srcset={`/.netlify/images?url=${desktopImg.src}&fm=webp`} />
		<img {...mobileImg} src={`/.netlify/images?url=${mobileImg.src}&fm=webp`}/>
	</picture>
  <section class="k-section mt-0">
    <div class="grid grid-cols-8">
      <div
        class="col-span-8 italic font-medium k-body-l py-6"
      >
        Autor: {authorName}
      </div>
      <div class="col-span-8 md:col-span-6">
        <h1 class="font-bold header-s antialiased">
          {title}
        </h1>
        <div class='k-blog-content'>
					<slot/>
				</div>
      </div>
      <div class="col-span-8 md:col-span-2 md:pl-4">
				<div class="flex flex-col items-center">
					<div style="clip-path: circle()">
						<Image
						src={authorImg}
						format='webp'
						alt=`Foto de ${title}`
						/>
					</div>
					<div class="typo-body-m antialiased mt-4 text-center">
						{authorDescription}
					</div>
					<div class="font-bold typo-body-m antialiased text-neutral-600 my-4">{authorName}</div>
					<div class="font-bold typo-body-m antialiased text-neutral-600 mt-2 mb-4">Especialidad: {especialidad}</div>
				</div>
				<BlogSidebar/>
				<div>
					<div {...subtitleClasses}>
						Temas relacionados
					</div>
					<div
						class="typo-body-m antialiased text-neutral-500"
					>
						Medicina, Salud, Tratamientos, Investigación Médica, Cuidado del Paciente, Enfermedades, Prevención
					</div>
				</div>
      </div>
			<div>
			</div>
    </div>
  </section>
</BaseLayout>
