---
import BaseLayout from '@layouts/base.astro';
import seoDefault from "@images/mainPhotoDesktop.png"

import Socials from '../footerComponents/Socials.astro';
import Linebreak from '@elements/Linebreak.astro';

import classy from '@utils/classy';
import { loadImage } from '@utils/ImageDynamic';

const { seo, breadcrumbs = false, author = {}, images = {}} = Astro.props ;

const {
	title : authorName = 'Missing Name',
	blog: authorDescription = 'Missing Description',
	especialidad = 'Missing Especialidad',
} = author

const {
	title = 'Missing Title Blog',
	description = 'Missing Description Blog',
	image : {
		src,
		width,
		height,
		format
	} = seoDefault
} = seo

const subtitleClasses = classy([
	"font-bold",
	"typo-body-m",
	"antialiased",
	"text-neutral-600",
	"py-4"
])

const mobileImg = await loadImage(images.mobile)
console.log(`🚀 ~ mobileImg:`, mobileImg)
const desktopImg = await loadImage(images.desktop)

// TODO : I think categories will be created as a data type too
let categories = [
	{ title: 'Intervencionismo', link: '/blog/intervencionismo' }
]
---
<BaseLayout
	wha={false}
	{seo}
	{breadcrumbs}
>
	<picture class="k-hero-image">
		<source {...mobileImg} media="(max-width: 767px)" srcset={`/.netlify/images?url=${mobileImg.src}&fm=webp`} />
		<source {...desktopImg} media="(min-width: 768px)" srcset={`/.netlify/images?url=${desktopImg.src}&fm=webp`} />
		<img {...mobileImg} src={`/.netlify/images?url=${mobileImg.src}&fm=webp`} alt=''/>
	</picture>
  <section class="k-section mt-0">
    <div class="grid grid-cols-8">
      <div
        class="col-span-8 italic font-medium k-body-l py-6"
      >
        Autor: {authorName}
      </div>
      <div class="col-span-8 md:col-span-6">
        <h1 class="font-bold header-s antialiased">
          {title}
        </h1>
        <div class='k-blog-content'>
					<slot/>
				</div>
      </div>
      <div class="col-span-8 md:col-span-2 pl-4">
				<div class="flex flex-col items-center">
					<div> imgplaceholder </div>
					<div class="typo-body-m antialiased pt-4 text-center">
						{authorDescription}
					</div>
					<div class="font-bold typo-body-m antialiased text-neutral-600 pt-2">{authorName}</div>
					<div class="font-bold typo-body-m antialiased text-neutral-600 pt-2 pb-4">Especialidad: {especialidad}</div>
				</div>
				<div class="k-categories">
					<div {...subtitleClasses}>
						Categorías
					</div>
					{categories.map( (category, index) => {

						const categoryClasses = classy([
							"typo-body-m",
							"antialiased",
							"text-neutral-400",
							"py-2",
							"border-t",
							index === categories.length - 1 && "border-b",
							"border-neutral-400"
						])

						return (
							<div {...categoryClasses}>
								<a href={category.link} class="block w-full">
									{category.title}
								</a>
							</div>
						)

					})}
				</div>
				<div class="border-b">
					<div {...subtitleClasses}>
						Sigue nuestras redes sociales
					</div>
					<Socials/>
				</div>
				<div class="border-b">
					<div {...subtitleClasses}>
						Suscribirse al blog
					</div>
					<div
						class="typo-body-m antialiased text-neutral-400"
					>
						Mantente al día con los últimos avances y técnicas en intervencionismo médico.
					</div>
					<!-- TODO input field -->
				</div>
				<div>
					<div {...subtitleClasses}>
						Temas relacionados
					</div>
					<div
						class="typo-body-m antialiased text-neutral-500"
					>
						Medicina, Salud, Tratamientos, Investigación Médica, Cuidado del Paciente, Enfermedades, Prevención
					</div>
				</div>
      </div>
			<div>
			</div>
    </div>
  </section>
</BaseLayout>
