---
import { SEO } from 'astro-seo';
import { Font } from "astro:assets"

import Header from "@components/HeaderVesicula.astro";
import Footer from "@components/FooterVesicula.astro";
import FloatingVesicula from '@components/FloatingVesicula.astro';
import FloatingTop from '@components/FloatingTop.astro';
import Breadcrumbs from '@header/breadcrumbs.astro';

import Favicon from "@utils/favicon.astro";
import seoDefault from "@images/mainPhotoDesktop.png"

import '@styles/global.css';
import '@styles/typography.css';

const {
	breadcrumbs = false,
	isIframe = false,
	seo,
	wha = true,
	top = false
} = Astro.props ;

const {
	title = 'Missing Title',
	description = 'Missing Description',
	image : {
		src,
		width,
		height,
		// alt, // not used in this, needs to be defined
		format
	} = seoDefault,
	canonical = '',
} = seo

const seoImageUrl = `${new URL(src, Astro.url)}`

let urlOverride = '' // if you want to override the url, mostly for categories
if ( canonical !== '' ){
	urlOverride = `${Astro.site}${canonical}`
}

let seoObj = {
	title : `${title} | Clínica Enlace`,
	description,
	canonical : urlOverride,
	openGraph: {
		basic: {
			title: `${title} | Clínica Enlace`,
			type: "website",
			image: seoImageUrl,
			url : urlOverride
		},
		optional: {
			description: description
		},
		image: {
			width,
			height,
			type: `image/${format}`,
			// alt
		}
	},
	twitter: {
		// creator: "@jonasmerlins1"
		title,
		description,
		image: seoImageUrl
	},
	// article:{ these options are there for when articles are introduced
	// 	publishedTime: "2022-01-01T00:00:00Z",
	// 	modifiedTime: "2022-01-01T00:00:
	// }
}
---

<html lang="es">
	<head>
		<SEO {...seoObj}/>
		<Favicon/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap" rel="stylesheet">
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body class="k-alone open-sans-400">
		{ isIframe && <Header/> }
		{ isIframe && breadcrumbs && <Breadcrumbs {...breadcrumbs}/> }
    <slot />
		{wha && <FloatingVesicula/>}
		{top && <FloatingTop/>}
		{ isIframe && <Footer />}
	</body>
</html>
